@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(4, 100fr);
    grid-gap: 10px;
    height: 100vh;
    padding: 10px;
}

body {
    background: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}

h2 span {
    font-size: 30px;
}

p {
    font-size: 20px;
}

#wrapper>div {
    display: flex;
    cursor: pointer;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease-in;
}

#wrapper>div:hover {
    opacity: 0.7;
    transform: scale(0.98);
}

#wrapper>div:nth-of-type(1) {
    grid-column: 1 / 3;
}

#wrapper>div:nth-of-type(4) {
    grid-row: 2 / 4;
}

#wrapper>div:nth-of-type(6) {
    grid-column: 3 / 5;
}

#wrapper>div:nth-of-type(7) {
    grid-column: 2 / 4;
}

#wrapper>div:nth-of-type(11) {
    grid-column: 3 / 5;
}

.bg1 {
    background: url("../images/bg1.jpg");
}

.bg2 {
    background: url("../images/bg2.jpg");
    color: #333;
}